* {
  margin: 0;
}

header {
  color: white;
}

body {
  background-color: black;
  font-family: Arial, sans-serif;
  margin: 0;
}

nav {
  width: 200px;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}
nav p {
  text-decoration: dashed;
  text-align: center;
}
nav p ::before {
  content: "\2193";
  color: white;
  margin-right: 8px;
}
nav ul li a {
  text-decoration-color: blueviolet;
  color: blueviolet;
}

a {
  color: purple;
  text-decoration-color: aqua;
}

h1 {
  font-size: 3em;
  text-align: center;
  margin-bottom: 20px;
}

h2 b {
  font-size: 1.5em;
}

.page-text {
  font-size: 1.5em;
}

hr {
  border-color: orange;
}

span {
  font-size: 20px;
  font-family: monospace;
}

div {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: antiquewhite;
  padding: 10px;
}
.first-container {
  border: 10px solid magenta;
}
.second-container {
  border: 10px solid cyan;
}
.third-container {
  border: 10px solid orange;
}

img {
  margin-bottom: 20px;
}

footer {
  margin-top: 10px;
  color: white;
  text-align: center;
}

footer a {
  color: aqua;
}

marquee {
  font-size: smaller;
}
